// Color Variables
$primary-color: #41228e;
$secondary-color: #2bfdff;
$text-color: #4c4c4c;
$text-color-dark: #000;
$text-color-light: #999999;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;
$transparent: #e1acdb00;

// Font Variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Playfair Display', serif;
$tertiary-font: 'BwNistaInt-xBd';
$icon-font: 'themify';



@mixin mobile-xs{
  @media(max-width:400px){
    @content;
  }
}
@mixin mobile{
  @media(max-width:575px){
    @content;
  }
}
@mixin tablet{
  @media(max-width:767px){
    @content;
  }
}
@mixin desktop{
  @media(max-width:991px){
    @content;
  }
}
@mixin desktop-lg{
  @media(max-width:1200px){
    @content;
  }
}

@mixin size($size){
  width: $size; height: $size;
}

body {
  background-color: $body-color;
  overflow-x: hidden;
}

::selection {
  background: lighten($color: $primary-color, $amount: 10);
  color: $white;
}

/* preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

ol,
ul {
  list-style-type: none;
  margin: 0px;
}

img {
  vertical-align: middle;
  border: 0;
}


a,
a:hover,
a:focus {
  text-decoration: none;
}


a,
button,
select {
  cursor: pointer;
  transition: .2s ease;

  &:focus {
    outline: 0;
  }
}

a.text-dark{
  &:hover{
    color: $primary-color !important;
  }
}

a:hover {
  color: $primary-color;
}

.touch a {
  text-decoration: none;
  font-size: 1em;
  position: relative;
  transition: all 0.6s;
  font-family: $primary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: $primary-color;
}
 .touch a:before {
  content: "";
  width: 0;
  height: 0.1em;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s;
}
 .touch a:hover:before {
  width: 100%;
  left: 0;
  background: $primary-color;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;

  &-contact {
    padding-top: 195px;
    padding-bottom: 80px;

  &-title {
    margin-top: 50px;
    margin-bottom: 80px;
    font-family: $secondary-font;
  }
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


/* overlay */

.overlay {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $black;
    opacity: .5;
  }
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: $primary-color !important;
}

.bg-gray{
  background: $gray !important;
}

.text-primary {
  color: $primary-color !important;
}

.text-color {
  color: $text-color;
}

.text-dark {
  color: $text-color-dark !important;
}

.text-light {
  color: $text-color-light !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.zindex-1 {
  z-index: 1;
}

.rounded-lg{
  border-radius: 15px;
}

.overflow-hidden {
  overflow: hidden;
}

.font-secondary {
  font-family: $secondary-font !important;
}

.font-tertiary {
  font-family: $tertiary-font !important;
}

.shadow {
  box-shadow: 0px 18px 39.1px 6.9px rgba(224, 241, 255, 0.34) !important;
}

.bg-dark{
  background-color: #222222 !important;
}


/*Navigation*/
.navigation{
  padding: 40px 130px;
  transition: .3s ease;
  &.nav-bg {
    background-color: $transparent;
    padding: 15px 100px;
    @include desktop {
      padding: 15px 20px;
    }
  }
  @include desktop {
    padding: 20px;
    background: $transparent;
  }
}

.navbar{
  .nav-item{
    .nav-link{
      font-family: $secondary-font;
      text-transform: uppercase;
      padding: 0px 24px 0px 24px;
    }
    &.active{
      border-bottom: 3px solid #A683E3;
    }
  }
}

.navbar-dark .navbar-nav .nav-link{
  color: $white;
  font-weight: 600;
}

/*Hero area*/
.hero-area {
 padding: 144px 0 10px;
  position: relative;
  @include tablet {
    padding: 250px 0 150px;
    overflow: hidden;
  }
  h1{
    position: relative;
    z-index: 2;
  }

  h2{
   position: relative;
    z-index: 2;
  }

  h4{
   position: relative;
    z-index: 2;
  }
}


span#rect {
    background: linear-gradient(
0deg, #a683e3 40%, #ffffff00 33%);
}

h4#description {
    margin: 48px;
}


.layer {
  position: absolute;
  z-index: 1;
}


.layer-bg {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.3;
}

h2.title {
    color: white;
    font-size: 1.5em;
    text-align: left;
    padding: 0px 50px 0px 50px;
    font-family: 'Poppins';
}

hr {
    box-sizing: content-box;
    height: 0;
    width: 81px;
    margin-top: 1rem;
    margin-right: 1rem;
    border: 0;
    float: left;
    border-top: 2px solid #ffffff;
}

/*Homepage*/
.case-study
{
  padding-top: 80px;
  
}

.case.container {
   
    background: rgba(255, 255, 255, 0.83);
    box-shadow: 0px 4px 79px rgba(224, 95, 177, 0.44);
    border-radius: 76px;
}

case-study .content h4 {
    padding-bottom: 13px;
    font-family: 'DM SERIF DISPLAY';
    font-size: 2.5em;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
  
}

.content {
    margin: 70px;
}

.case-study .content p {
    font-size: 16px;
    color: #393939;
    font-family: 'Poppins';
}

.case-study .content .btn {
  margin-top: 30px;
}

/* Case Study Title */
.box-subtitle,
.box-title {
  margin: 0;
}

.box-subtitle {
  letter-spacing: 2px;
  padding: 17px 0 20px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

/* Case Study Description Style */
.case-study-content {
  padding-top: 20px;
  padding-bottom: 60px;
}


  /* case study section */
  
 .case-study-content img {
    float: none;
    width: 104%;
    margin: auto;
    border-radius: 0px 70px 70px 0px;
}


img.img-responsive.left {
    padding-left: 0px;
    margin-left: -20px;
    border-radius: 70px 0px 0px 70px;
}


.case-study
{
  padding-top: 80px;
  
}

.case.container {
   
    background: rgba(255, 255, 255, 0.83);
    box-shadow: 0px 4px 79px rgba(224, 95, 177, 0.44);
    border-radius: 76px;
}

.case-study .content h4 {
    padding-bottom: 13px;
    font-family: 'DM SERIF DISPLAY';
    font-size: 2.5em;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
  
}

.content {
    margin: 70px;
}

  /* case study section */

.case-study .content p {
    font-size: 16px;
    color: #393939;
    font-family: 'Poppins';
}

.case-study .content .btn {
  margin-top: 30px;
}


.case-study-content {
  padding-top: 20px;
  padding-bottom: 60px;
}



  
 .case-study-content img {
    float: none;
    width: 104%;
    margin: auto;
    border-radius: 0px 70px 70px 0px;
}

/* footer */
.footer-section {
  padding-top: 200px;
}

.section-on-footer {
  margin-bottom: -250px;
}

.shadow-down {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    box-shadow: 0px 0px 80.75px 14.25px rgba(224, 241, 255, 0.34);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }
}

/* /footer */



.project-title {
    font-family: 'DM Serif Display';
    font-size: 25px;
    text-align: center;
}

.portfolio-description {
    margin-top: 150px;
}

.strongtitle {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    color: white;
    font-size: 1em;
    text-align: left;
    font-family: 'Poppins';
}

.strongtitle-desc{
  padding-top: 15px;
  text-align: left;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
     color: white;
  font-size: 2em;

}

.card {
    width: 60%;
    height: 80%;
    max-height: 300px;
    padding: auto;
    text-align: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.83);
    box-shadow: 0px 4px 79px rgba(224, 95, 177, 0.44);
    border-radius: 18px;
}
.card__container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    color: #ffffff00;
}
 .card__content {
   width: 90%;
   height: 95%;
   margin: 10px auto;
   border-radius: 5px;
   padding: 20px;
   cursor: pointer;
  transition: 0.3s all ease-in-out;
  background: rgba(255, 255, 255,  0.04%);
  box-shadow: 0px 4px 79px rgba(224, 95, 177,  0.44%);
}
 .card__content:hover {
   margin-top: -10px;
}

.services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 0 0 40px 0;
    background: #fff;
    box-shadow: 0 5px 26px 0 rgba(68, 88, 144,  0.14);
    transition: all 0.3s ease-in-out;
    text-align: center;
    border: 1px solid #fff;
}





.card-1 {
    width: 100%;
    background: rgba(255, 255, 255, 0.83);
    box-shadow: 0px 4px 79px rgba(224, 95, 177,  0.44);
    height: 100%;
}

.card-1:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.40);
    transform: scale(1.01);
}



/*Portfolio*/
.page-title {
  padding: 250px 0 150px;

  .container {
    position: relative;
    z-index: 1;
  }

  .bg-shape-1 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .bg-shape-2 {
    position: absolute;
    left: -20px;
    top: -10px;
  }

  .bg-shape-3 {
    position: absolute;
    left: 10%;
    top: 100px;
  }

  .bg-shape-4 {
    position: absolute;
    left: 50%;
    top: -20px;
  }

  .bg-shape-5 {
    position: absolute;
    left: 90px;
    bottom: -50px;
    transform: rotate(180deg);
  }

  .bg-shape-6 {
    position: absolute;
    right: 20%;
    bottom: -20px;
  }

  .bg-shape-7 {
    position: absolute;
    right: -220px;
    bottom: -100px;
  }
}

/*Query*/
@media screen and (max-width: 426px) {
  #icon {
    width: 30px;
    height: 30px;
  }

  ul li {
    font-size: 12px;
  }

  #contact p {
    font-size: 10px;
  }
}

@media screen and (min-width: 2560px) {
  #icon {
    width: 50px;
    height: 50px;
  }

  ul li {
    font-size: 20px;
  }

  #contact p {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .drag-lg-top {
    margin-top: 0;
  }
}

.page-title-alt .container {
  position: relative;
  z-index: 1;
}



/*Query Portfolio*/

@media only screen and (min-width: 320px) and (max-width: 768px) {

    .contactsection {
    width: 400px;
   
}


.portfolio-info {
    position: static;
    margin-top: 30px;
}


}


@media only screen and (min-width: 320px) and (max-width: 991px) {

  .logo{
      left: 80px;
      top: 25px;
    
  }


 .logo  img{
      width: auto;
    }

  .th-nav-btn{
      right: 80px;
      top: 45px;
  }

  .case-study-content img {
    width: 100%;
    margin: 10px auto;
    border-radius: 37px 37px 37px 37px;
}

img.img-responsive.left {
    width: 100%;
    margin: 10px auto;
    border-radius: 37px 37px 37px 37px;
}


.case.container {
    
    border-radius: 39px;
}

  .content {
    margin: 43px;
}

.img-content {
    padding-top: 30px;
}




}
 @media only screen and (min-width: 768px){

  .logo{
      left: 80px;
      top: 25px;
    
  }


 .logo  img{
      width: auto;
    }

  .th-nav-btn{
      right: 80px;
      top: 45px;
  }

  .case-study-content img{
    width: auto;
    margin: 20px auto;
  }
  

}






/*Contact*/
#contact a {
  color: #a683e3;
  margin: 10px;
}

#contact {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #a683e3;
}

#icon {
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s, box-shadow 0.5s;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
}

#icon-container {
  display: flex;
  justify-content: center;
}

#icon:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.12), 0 3px 5px rgba(0, 0, 0, 0.24);
}

#contact p {
  font-size: 14px;
}}